filelock==3.16.1
huggingface_hub==0.27.1
ipywidgets==8.1.7
langcodes==3.4.0
lightning==2.1.4
numpy==1.23.0
optuna==3.6.1
optuna-distributed==0.7.0
optuna-integration==4.3.0
pandarallel==1.6.5
pandas==2.0.3
pathos==0.3.4
peft==0.4.0
prettytable==3.16.0
psutil==7.0.0
polars==1.32.3
pyarrow==14.0.2
py_cpuinfo==9.0.0
pyparsing==3.2.3
PyYAML==6.0.2
quanto==0.2.0
nvidia-ml-py3==7.352.0
rapidfuzz==3.13.0
sentencepiece==0.2.0
scikit_learn==1.6.1
triton==2.3.0
torch==2.3.0
torchmetrics==1.2.1
transformers==4.48.0
bitsandbytes==0.45.5
cachetools==5.5.2

